body {
    background-color: #B0D7E8;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #1a1a1a; /* Default text color */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}


a {
    color: #000000;
    text-decoration: none;
}


a:hover {
    color: #000000;
    text-decoration: underline;
}


h1 {
    color: #7C75D1;
    font-size: 36px;
    margin: 24px 0 8px;
}
h2 {
    color: #7C75D1;
    font-size: 28px;
    margin: 16px 0 8px;
}
